@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --color-primary: #27AE60;
  --color-secondary: #F39C12;
  --color-accent: #1C3A47;
  --color-light: #F8F9FA;

  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}
